.nopage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: slategrey;
    height: 100vh;
}
.button {
    color: aliceblue;
    background-color:  #343A40;
    padding: 8px;
    border: 1px solid #343A40;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 20px;
    }
     .button:hover {
        background-color: #2196F3;
    }